/* CSS DOCUMENT*/
@charset "UTF-8";

/*Configuraciones generales*/

@font-face {
    font-family: "Marcellus";
    src: url(fonts/Marcellus-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    body {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

/* Acá empiezan las aplicaciones*/

h1 {
    font-family: "Marcellus", serif;
    font-weight: 800;
    font-style: normal;
    color: palevioletred;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    color: purple;
    text-indent: 30px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    text-indent: 40px;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    color: cadetblue;
}

/*Acá empiezan las aplicaciones*/

header {
    height: 500px;
    background-image: url(img/foto-flores-caratula.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 0;
    background-position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #320e0ee0;
    background-blend-mode: hard-light;

    p {
        font-family: "Marcellus", serif;
        font-size: 4rem;
        font-weight: 800;
        font-style: normal;
        color: aliceblue;
        padding: 70px;
        max-width: 550px;
    }
}

nav {
    width: 100%;
    height: 110px;
    color: aliceblue;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    background-color: purple;
    background-size: cover;
    display: grid;
    padding: 5px 10px 15px 10px;
    margin-top: auto;
    line-height: 1.8rem;
    letter-spacing: 0.078em;
    margin-bottom: 30px;

    a {
        color: papayawhip;
        text-decoration: none;
        display: block
    }
}

/*SECCIONES*/

.intro {
    height: 450px;
    background-color: rgb(255, 238, 243);
    box-sizing: border-box;
    border-radius: 0 0 20px;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        max-width: 500px;
        font-size: 0.98rem;
        line-height: 1.4;
        letter-spacing: 0em;
        padding: 20px;
        text-align: center;
        margin: 0 0 16px 0;
    }
}

.hola {
    width: 100%;
}

#yo {
    border-radius: 50%;
    margin: 50px 50px 0 50px;
    padding: 20px;
}

#academica {
    padding: 5px 30px;

    p {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        text-indent: 80px;
    }
}

#habilidades {
    padding: 5px 30px;
}

#Proyectos {
    padding: 5px 30px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

#titulo {
    padding: 5px 30px;
}

.imagen {
    display: flex;
    align-items: center;
    text-align: left;
}

#mensaje {
    padding: 30px;
    background-color: rgb(255, 238, 243);
    border-radius: 20px 20px 0 0;
}

footer {
    padding: 5px 30px;
    background-color: palevioletred;
    border-radius: 0 0 20px 20px;
}

ul {
    list-style: none;
}