/* CSS DOCUMENT*/
@charset "UTF-8";

/*Configuraciones generales*/

@font-face {
    font-family: "Marcellus";
    src: url(fonts/Marcellus-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

* {
    body {
        font-family: "Quicksand", sans-serif;
    }
}

/* Acá empiezan las aplicaciones*/

h1 {
    font-family: "Marcellus", serif;
    font-weight: 800;
    font-style: normal;
    color: palevioletred;
    }

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    color: cadetblue;
    text-indent: 30px;
}

h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    font-style:normal;
    text-indent: 40px;
}

h4 {
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    color: cadetblue;
}

/*Acá empiezan las aplicaciones*/

header {
    background-image: url(img/foto-flores-caratula.jpg);
    background-size: cover;
    box-sizing: border-box;
    padding: 100px;
    margin: 0 0 0 0;
    background-position: center;

    p {
        font-family: "Marcellus", serif;
        font-size: 4rem;
        font-weight: 800;
        font-style: normal;
        color: aliceblue;
        text-align: center;
    }
}

nav {
    color:palevioletred;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
}

#intro {
    background-color: rgb(255, 238, 243);
    box-sizing: border-box;
    border-radius: 0 0 20px;
    padding: 5px 30px;
    }

#academica {
    padding: 5px 30px;

    p {
        font-family: "Quicksand", sans-serif;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;
        text-indent: 80px;
    }
}

#habilidades {
    padding: 5px 30px;
}

#titulo {
    padding: 5px 30px;
}

#Proyectos {
    padding: 5px 30px;
    height: 500px;
    display: block;
    display:flex
   
}

#mensaje {
    padding: 30px;
    background-color: rgb(255, 238, 243);
    border-radius: 20px 20px 0 0;
}

footer{
    padding: 5px 30px;
    background-color: palevioletred;
    border-radius: 0 0 20px 20px;
}

ul {
    list-style: none;
}